# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

Merenje/Images/
Merenje/Vektori/
Merenje/Results/

*.exe
