CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

Merenje/Images/
Merenje/Vektori/
Merenje/Results/
*.yml
*.jpg
*.png
*.xml
*.zip
*.exe
*.txt
*.mp4
Ufotkanje/Ufotkanje
octave/octave-workspace
*.ycm_extra_conf.py
*.vscode
Calibration/Calibration
Merenje/Merenje
Detekcija/Detekcija
Merenje/Matlab/
